* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}

/* Header */
header {
    background: #237886;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-navbar {
    background-color: #237886;
}
.custom-navbar .nav-link {
    color: white !important;
    text-decoration: none !important;
}

.custom-navbar .nav-link:hover {
    color: #ffffff !important;
    opacity: 0.8;
}


/* Hero */
.hero {
    background: #f4f4f4;
    padding: 60px 20px;
    text-align: center;
}

.hero button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background: #333;
    color: white;
    cursor: pointer;
}

.hero button:hover {
    background: #555;
    cursor: underline;
}

/* Sections */
section {
    padding: 40px 20px;
    max-width: 1000px;
    margin: auto;
}

.projects{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.card {
    background: #eee;
    padding: 20px;
    flex: 1;
    text-align: center;
}
.projects :hover {
background-color: #237886;
cursor: grab;
}

.services {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: #eee;
    padding: 20px;
    flex: 1;
    text-align: center;
}

.services :hover {
background-color: #237886;
cursor: grab;
}

/* Gallery */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.carousel-item {
  height: 800px;          /* pick a height that works for all pictures */
}

.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;      /* fills without distortion */
}

/* Footer */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}